<script src="js/jquery.min.js"></script>
<script src="js/svg4everybody.min.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/localization/messages_ru.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/main.js"></script>
