.icon {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  &-ti1 {
    width: 31px;
    height: 37px;
  }
  &-ti2 {
    width: 40px;
    height: 25px;
    margin-top: 4px;
  }
  &-ti3 {
    width: 33px;
    height: 26px;
    margin-top: 3px;
  }
  &-ti4 {
    width: 31px;
    height: 37px;
  }
  &-ti5 {
    width: 40px;
    height: 25px;
  }
  &-ti6 {
    width: 30px;
    height: 28px;
  }
  &-ti7 {
    width: 33px;
    height: 26px;
  }
  &-ab1 {
    width: 21px;
    height: 20px;
  }
  &-ab2 {
    width: 21px;
    height: 22px;
  }
  &-ab3 {
    width: 23px;
    height: 22px;
  }
}
