html {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(#fff, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
}

* {
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:focus {
  outline: 0;
}

input,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  font-size: 1rem;
  font-family: inherit;
}

input {
  &[type="search"] {
    -webkit-appearance: textfield;
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

input:focus,
textarea:focus {
  outline: 0;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

input[type="submit"],
button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  &[disabled] {
    cursor: default;
  }
  &:focus {
    outline: none;
  }
}

select {
  &:focus {
    outline: none;
  }
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  &:not(:root) {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

.clearfix {
  &::before,
  &::after {
    display: table;
    content: "";
    line-height: 0;
  }
  &::after {
    clear: both;
  }
}

::placeholder {
  color: $placeholder_color;
  opacity: $placeholder_opacity;
}

:focus::placeholder {
  color: $placeholder_focus;
}

label {
  cursor: pointer;
  user-select: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
