.about {
  padding-top: 77px;
  padding-bottom: 120px;
  background-repeat: no-repeat;
  .title {
    margin-bottom: 46px;
  }
  &1 {
    background-image: url('../img/data/ab1.jpg');
    background-position: 0 77px;
  }
  &2 {
    background-image: url('../img/data/ab2.jpg');
    background-position: 0 7px;
  }
  &-text {
    float: right;
    width: 42.3%;
    letter-spacing: -0.1px;
    p {
      margin-bottom: 25px;
    }
  }
  &-pane {
    background-color: #3e73ed;
    width: 286px;
    margin-top: 40px;
    padding: 20px 26px 14px;
    &-item {
      position: relative;
      padding-left: 29px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    &-icon {
      position: absolute;
      top: 4px;
      left: 0;
      height: 22px;
      font-size: 0;
      &:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
      }
    }
  }
  &-alert {
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    background-color: #ff4c4c;
    padding: 68px 15px 65px;
    line-height: 1.4;
    margin-top: 67px;
    overflow: hidden;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      right: -17px;
      width: 476px;
      height: 241px;
    }
    &-content {
      position: relative;
      max-width: 1046px;
      margin: 0 auto;
    }
  }
  &-desc {
    height: 748px;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    margin-top: 58px;
    background-color: #0d0e10;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: relative;
    overflow: hidden;
    .icon-desc {
      position: absolute;
      top: 0;
      right: 31px;
      width: 476px;
      height: 212px;
    }
    &-1 {
      background-image: url('../img/backgrounds/ab-desc1.jpg');
    }
    &-content {
      max-width: 930px;
      margin: 0 auto;
      padding: 0 15px;
      z-index: 2;
      padding-top: 88px;
    }
    &-title {
      font-size: 26px;
      font-weight: 700;
    }
    &-text {
      line-height: 1.35;
      margin-top: 28px;
    }
    &-btn {
      background-color: #ff4c4c;
      box-shadow: 0 18px 14px 0 rgba(66, 1, 1, 0.05);
      font-size: 22px;
      text-align: center;
      color: #ffffff;
      padding: 0 0 0;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px 18px;
      white-space: nowrap;
      &:hover {
        background-color: darken(#ff4c4c, 10%);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .about {
    background: none;
    &-text {
      float: none;
      width: auto;
    }
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 500px) {
  .about {
    &-desc {
      background-position: 50% 70%;
      &-title {
        font-size: 20px;
      }
      &-text {
        font-size: 16px;
      }
      &-btn {
        font-size: 16px;
      }
    }
    &-alert {
      font-size: 18px;
      padding: 38px 15px 35px;
    }
  }
}
