.advantages {
  padding-top: 120px;
  padding-bottom: 432px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-1 {
    background-image: url('../img/backgrounds/advantages.jpg');
  }
  &-2 {
    background-image: url('../img/backgrounds/advantages2.jpg');
    padding-bottom: 559px;
  }
  .title {
    margin-bottom: 41px;
  }
  &-content {
    padding-left: 60px;
  }
  &-item {
    float: left;
    width: 50%;
    margin-bottom: 48px;
    &:nth-child(odd) {
      padding-right: 30px;
    }
    &:nth-child(even) {
      padding-left: 50px;
    }
    &-title {
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1281px) {
  .advantages {
    background-size: 1280px auto;
  }
}

@media screen and (max-width: 1179px) {
  .advantages {
    background-size: 100% auto;
  }
}

@media screen and (max-width: 991px) {
  .advantages {
    &-content {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 70px;
    padding-bottom: 250px;
    &-2 {
      padding-bottom: 410px;
    }
    &-item {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: auto;
      float: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .advantages {
    padding-bottom: 220px;
  }
}
