.diff {
  padding-top: 92px;
  padding-bottom: 140px;
  .title {
    max-width: 922px;
    margin: 0 auto;
    line-height: 1.3;
  }
  &-item {
    font-size: 0;
    padding-left: 60px;
    padding-right: 56px;
    margin-bottom: -13px;
    &:nth-child(1) {
      .diff {
        &-item {
          &-text {
            padding-left: 79px;
          }
        }
      }
    }
    &:nth-child(2) {
      .diff {
        &-item {
          &-text {
            padding-right: 66px;
          }
        }
      }
    }
    &-img {
      display: inline-block;
      vertical-align: middle;
      width: 315px;
      .icon {
        width: 100%;
        height: 314px;
      }
    }
    &-text {
      width: calc(100% - 315px);
      font-size: 18px;
      display: inline-block;
      vertical-align: middle;
      p {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &-btn {
    background-color: #ff4c4c;
    box-shadow: 0 19px 13px 0 rgba(171, 32, 32, 0.06);
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    padding: 20px 36px;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken(#ff4c4c, 10%);
    }
    &-wrapper {
      margin-top: 12px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .diff {
    padding-top: 50px;
    padding-bottom: 50px;
    .title {
      margin-bottom: 30px;
    }
    &-item {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 20px;
    }
    &-btn-wrapper {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .diff {
    &-item {
      &-img {
        display: none;
      }
      &-text {
        width: auto;
        display: block;
        padding: 0 !important;
      }
    }
  }
}
