.form {
  background-color: #ff4c4c;
  text-align: center;
  color: #fff;
  position: relative;
  padding-top: 74px;
  padding-bottom: 80px;
  overflow: hidden;
  .wrapper {
    position: relative;
  }
  .icon {
    &-form {
      position: absolute;
      bottom: 0;
      right: -20px;
      width: 758px;
      height: 579px;
    }
  }
  .title {
    color: #fff;
    margin-bottom: 34px;
  }
  &-subtitle {
    margin-bottom: 26px;
    min-height: 56px;
  }
  &-price {
    margin-bottom: 7px;
    span {
      position: relative;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
      width: 101px;
      height: 41px;
      margin-left: 20px;
      text-align: right;
      padding-right: 10px;
      padding-top: 1px;
      margin-right: 20px;
    }
    .icon {
      position: absolute 0;
    }
    & + .form-content {
      margin-top: 42px;
    }
  }
  &-stock {
    margin-bottom: 63px;
  }
  &-content {
    max-width: 525px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f7f8f9;
    box-shadow: 0 42px 35px 0 rgba(158, 33, 33, 0.31);
    margin: 0 auto 0;
    padding-top: 55px;
    padding-bottom: 40px;
    &-row {
      max-width: 425px;
      margin: 0 auto 20px;
      font-size: 0;
    }
    &-name {
      font-size: 15px;
      text-align: left;
      color: #000000;
      display: inline-block;
      vertical-align: middle;
      width: 115px;
      padding-right: 10px;
      min-height: 1px;
    }
    &-field {
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 115px);
      text-align: left;
    }
    &-input {
      height: 55px;
      background-color: #ffffff;
      border: solid 1px #c5c5c5;
      width: 100%;
      font-size: 18px;
      text-align: left;
      padding: 15px 20px;
      &::placeholder {
        color: #d2d2d2;
      }
      &.error {
        border-color: #ff4c4c;
      }
    }
    label.error {
      font-size: 14px;
      color: #ff4c4c;
      display: block;
      padding-top: 4px;
    }
    .form-content-submit {
      padding: 20px 36px;
      background-color: #3e73ed;
      box-shadow: 0 19px 13px 0 rgba(171, 32, 32, 0.06);
      font-size: 22px;
      text-align: center;
      color: #ffffff;
      transition: background-color 0.3s;
      margin-top: 20px;
      &:hover {
        background-color: darken(#3e73ed, 10%);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .form {
    &-content {
      &-name {
        display: block;
        width: auto;
        margin-bottom: 5px;
      }
      &-field {
        display: block;
        width: auto;
      }
      .form-content-submit {
        font-size: 16px;
        display: block;
        width: 100%;
        padding: 15px 30px;
      }
    }
  }
}
