.give {
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 50px;
  .title {
    max-width: 840px;
    margin: 0 auto 38px;
    line-height: 1.3;
  }
  &-list {
    float: left;
    width: 50%;
    padding: 0 30px;
  }
  &-item {
    margin-bottom: 15px;
    position: relative;
    &:before {
      position: absolute;
      top: 13px;
      left: -13px;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background-color: #3977d4;
    }
  }
  &-pane {
    padding: 68px 15px 78px;
    background-image: url('../img/backgrounds/give.png');
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 65px;
    background-color: #1a1d2c;
    &-content {
      max-width: 942px;
      font-size: 26px;
      line-height: 1.4;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.67);
      position: relative;
      margin: 0 auto;
    }
  }
}

.cert {
  position: relative;
  padding-left: 53px;
  padding-top: 120px;
  .icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  .wrapper {
    position: relative;
    font-size: 0;
  }
  &-img {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
  }
  &-content {
    display: inline-block;
    vertical-align: middle;
    width: 52%;
    max-width: 461px;
    padding-left: 39px;
    margin-top: -92px;
  }
  &-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.38;
    color: #000000;
    margin-bottom: 19px;
  }
  &-text {
    font-size: 16px;
    line-height: 1.75;
    color: #000000;
  }
}

@media screen and (max-width: 991px) {
  .give {
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .give {
    &-list {
      width: auto;
      float: none;
      padding: 0 15px;
    }
    &-pane {
      margin-top: 45px;
      padding: 28px 15px;
      &-content {
        font-size: 18px;
      }
    }
  }
  .cert {
    padding-top: 60px;
    padding-left: 0;
    &-img {
      width: auto;
      float: none;
      text-align: center;
      display: block;
    }
    &-content {
      margin-top: 20px;
      text-align: center;
      padding-left: 0;
      width: auto;
      display: block;
      max-width: 100%;
    }
  }
}
