.how {
  padding-top: 94px;
  padding-bottom: 141px;
  .title {
    margin-bottom: 40px;
  }
  &-item {
    font-size: 0;
    padding-left: 60px;
    margin-bottom: -44px;
    &:nth-child(even) {
      .how {
        &-img {
          width: 45.3%;
        }
      }
    }
  }
  &-img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    text-align: center;
    padding-right: 20px;
  }
  &-desc {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    &-title {
      font-size: 26px;
      font-weight: 700;
      line-height: 1.08;
      margin-bottom: 18px;
    }
    &-text {
      font-size: 18px;
    }
  }
  &-btn {
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #ff4c4c;
    padding: 20px 36px;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken(#ff4c4c, 10%);
    }
    &-wrapper {
      text-align: center;
      margin-top: 96px;
    }
  }
}

@media screen and (max-width: 991px) {
  .how {
    padding-top: 50px;
    &-item {
      margin-bottom: 30px;
      padding-left: 0;
    }
    &-img {
      width: 40%;
    }
    &-desc {
      width: 60%;
    }
  }
}

@media screen and (max-width: 767px) {
  .how {
    padding-bottom: 60px;
    &-img {
      display: none;
    }
    &-desc {
      width: auto;
      display: block;
    }
    &-btn-wrapper {
      margin-top: 40px;
    }
  }
}
