.kurs {
  &-desc {
    float: left;
    width: 52%;
    padding-left: 60px;
    padding-top: 152px;
    .title {
      text-align: left;
      margin-bottom: 26px;
    }
  }
  &-text {
    p {
      margin-bottom: 25px;
    }
  }
  &-img {
    float: right;
    width: 48%;
    text-align: right;
    padding-right: 47px;
    padding-top: 118px;
    .icon {
      width: 446px;
      height: 440px;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 991px) {
  .kurs {
    &-desc {
      padding-top: 50px;
      padding-left: 0;
      width: 62%;
    }
    &-img {
      width: 38%;
      padding-right: 0;
      .icon {
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .kurs {
    &-desc {
      width: auto;
      float: none;
    }
    &-img {
      display: none;
    }
  }
}
