.modules {
  background-color: #3e73ed;
  padding: 72px 60px 60px;
  position: relative;
  overflow: hidden;
  text-align: center;
  .icon {
    position: absolute;
    &-mod {
      &-1 {
        width: 345px;
        height: 515px;
        top: -6px;
        left: 1px;
      }
      &-2 {
        width: 609px;
        height: 361px;
        bottom: 0;
        right: -35px;
      }
    }
  }
  .title {
    color: #fff;
    margin-bottom: 52px;
    position: relative;
    z-index: 2;
  }
  &-item {
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    text-align: left;
    &-title {
      font-size: 22px;
      text-align: left;
      position: relative;
      display: block;
      width: 100%;
      padding: 32px 40px;
      padding-right: 70px;
      .icon {
        width: 29px;
        height: 29px;
        position: absolute;
        width: 31px;
        height: 31px;
        position: absolute;
        top: 33px;
        right: 39px;
        transition: transform 0.4s;
      }
      &.active {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
    &-content {
      display: none;
      padding: 5px 45px 60px;
      &-title {
        color: #b8bcc1;
        margin-bottom: 9px;
      }
      &-text {
        line-height: 1.78;
      }
    }
  }
  &-btn {
    font-size: 22px;
    color: #396ee3;
    background-color: #ffffff;
    box-shadow: 0 18px 14px 0 rgba(32, 74, 172, 0.43);
    padding: 20px 19px;
    position: relative;
    z-index: 2;
    margin-top: 40px;
    transition: background-color 0.3s, box-shadow 0.3s;
    &:hover {
      background-color: darken(#fff, 10%);
      box-shadow: 0px 6px 4px 0 rgba(32, 74, 172, 0.43);
    }
  }
}

@media screen and (max-width: 767px) {
  .modules {
    padding-left: 15px;
    padding-right: 15px;
    &-item {
      &-title {
        padding: 15px 20px;
        font-size: 16px;
        padding-right: 50px;
        .icon {
          top: 10px;
          right: 15px;
        }
      }
      &-content {
        font-size: 16px;
        padding: 5px 20px 30px;
      }
    }
    &-btn {
      font-size: 16px;
      padding: 12px 13px;
      white-space: nowrap;
    }
  }
}
