.new {
  padding-top: 120px;
  padding-bottom: 116px;
  .title {
    margin-bottom: 26px;
  }
  &-text {
    text-align: center;
    max-width: 1038px;
    margin: 0 auto 49px;
  }
  &-item {
    padding-left: 60px;
    font-size: 0;
    margin-bottom: -27px;
    .icon {
      &-new1 {
        width: 366px;
        height: 399px;
      }
      &-new2 {
        width: 342px;
        height: 372px;
      }
      &-new3 {
        width: 369px;
        height: 343px;
      }
    }
    &-img {
      display: inline-block;
      vertical-align: middle;
    }
    &-desc {
      display: inline-block;
      vertical-align: middle;
      margin-top: 11px;
    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.17;
      margin-bottom: 12px;
    }
    &-text {
      font-size: 18px;
    }
    &:nth-child(1) {
      .new-item {
        &-desc {
          width: calc(100% - 383px);
          padding-left: 65px;
        }
        &-img {
          margin-left: 17px;
        }
      }
    }
    &:nth-child(2) {
      .new-item {
        &-desc {
          width: calc(100% - 342px);
          max-width: 700px;
        }
      }
    }
    &:nth-child(3) {
      .new-item {
        &-desc {
          width: calc(100% - 422px);
          padding-left: 27px;
        }
        &-img {
          margin-left: 53px;
        }
      }
    }
  }
  &-btn {
    padding: 20px 21px;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    background-color: #ff4c4c;
    transition: background-color 0.3s;
    letter-spacing: 0.2px;
    &:hover {
      background-color: darken(#ff4c4c, 10%);
    }
    &-wrapper {
      text-align: center;
      margin-top: 126px;
    }
  }
  &-pane {
    background-position: 50% 95%;
    background-repeat: no-repeat;
    min-height: 1427px;
    background-color: #140d07;
    text-align: center;
    position: relative;
    color: #ffffff;
    margin-top: 120px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    &-1 {
      background-image: url('../img/backgrounds/new-pane-bg.jpg');
      background-color: #140d07;
    }
    &-2 {
      background-image: url('../img/backgrounds/new-pane-bg-2.jpg');
      min-height: 1963px;
      background-color: #0d0e10;
      margin-top: 186px;
      padding-bottom: 460px;
    }
    .icon {
      position: absolute;
      top: 0;
      right: 32px;
      width: 476px;
      height: 210px;
    }
    &-content {
      margin: 0 auto;
      max-width: 1004px;
      padding: 80px 15px 0;
    }
    &-title {
      font-size: 38px;
      font-weight: 700;
      line-height: 1.71;
      margin-bottom: 41px;
    }
    &-top {
      text-align: left;
      padding-left: 7px;
      &-title {
        font-size: 27px;
        line-height: 1.4;
        margin-top: 49px;
        margin-bottom: 30px;
        max-width: 871px;
      }
      &-text {
        margin-bottom: 68px;
      }
    }
    &-list {
      width: 50%;
      float: left;
      padding: 0 20px;
    }
    &-item {
      font-size: 15px;
      line-height: 1.47;
      text-align: left;
      position: relative;
      margin-bottom: 25px;
      &:before {
        position: absolute;
        top: 9px;
        left: -13px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #ff4a46;
        content: '';
      }
    }
    &-subtitle {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.36;
      margin: 55px 0 25px;
    }
    &-text {

    }
    &-btn {
      font-size: 22px;
      text-align: center;
      color: #ffffff;
      padding: 20px 21px;
      background-color: #3e73ed;
      transition: background-color 0.3s;
      letter-spacing: 0.2px;
      &:hover {
        background-color: darken(#3e73ed, 10%);
      }
      &-wrapper {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
      }
    }
  }
}

@media screen and (min-width: 1281px) {
  .new-pane-2 {
    padding-bottom: 860px;
  }
}

@media screen and (max-width: 991px) {
  .new {
    padding-top: 50px;
    &-item {
      margin-bottom: 40px;
      padding-left: 0;
      &-img {
        display: none;
      }
      &-desc {
        width: auto !important;
        display: block;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .new-pane-2 {
    padding-bottom: 530px;
    background-position: 50% 94%;
  }
}

@media screen and (max-width: 500px) {
  .new {
    &-btn {
      &-wrapper {
        margin-top: 70px;
      }
    }
    &-pane {
      margin-top: 70px;
      min-height: 1427px;
      height: auto;
      padding-bottom: 150px;
      &-2 {
        padding-bottom: 410px;
      }
      &-content {
        padding-top: 50px;
        position: static;
      }
      &-title {
        font-size: 28px;
      }
      &-subtitle {
        font-size: 20px;
      }
      &-list {
        padding: 0;
        width: auto;
        float: none;
        padding-left: 15px;
      }
      &-btn {
        font-size: 16px;
        padding: 14px;
        &-wrapper {
          bottom: 50px;
        }
      }
    }
  }
}
