.top {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 51px;
  padding-top: 106px;
  position: relative;
  .wrapper {
    position: relative;
  }
  .icon {
    &-price {
      width: 113px;
      height: 41px;
      position: absolute 0;
    }
  }
  &1 {
    background-image: url('../img/backgrounds/top1.jpg');
  }
  &2 {
    background-image: url('../img/backgrounds/top2.jpg');
    color: #fff;
    .top {
      &-title {
        margin-bottom: 12px;
      }
      &-subtitle {
        font-size: 25px;
        line-height: 1.12;
        text-align: left;
        color: #ffffff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
  &3 {
    background-image: url('../img/backgrounds/top3.jpg');
    color: #fff;
    padding-top: 376px;
    padding-bottom: 55px;
    .top {
      &-left {
        width: 52.3%;
      }
      &-title {
        font-size: 50px;
        margin-bottom: 20px;
      }
      &-subtitle {
        margin-bottom: 35px;
      }
      &-right {
        bottom: 58px;
        &-text {
          font-size: 16px;
          width: 173px;
          span {
            margin-right: 24px;
            position: relative;
            &:after {
              position: absolute;
              top: 0;
              left: -10px;
              right: 0px;
              height: 1px;
              content: '';
              background-color: #d64949;
              transform: rotate(15deg) translate(7px, 8px);
            }
          }
        }
      }
    }
  }
  &-left {
    width: 39%;
    min-width: 420px;
  }
  &-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
  }
  &-subtitle {
    margin-bottom: 83px;
  }
  &-list {
    font-size: 15px;
    line-height: 1.33;
    max-width: 315px;
    margin-bottom: 35px;
  }
  &-item {
    position: relative;
    padding-left: 45px;
    margin-bottom: 22px;
    &-icon {
      width: 41px;
      position: absolute;
      top: 1px;
      left: -3px;
      text-align: center;
    }
  }
  &-btn {
    min-width: 248px;
    background-color: #ff4c4c;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    padding: 20px 21px 20px;
    word-spacing: 2px;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken(#ff4c4c, 10%);
    }
  }
  &-right {
    position: absolute;
    bottom: 48px;
    right: 43px;
    &-price {
      display: inline-block;
      vertical-align: middle;
      width: 113px;
      height: 41px;
      font-size: 24px;
      color: #ffffff;
      text-align: right;
      padding: 1px 11px 0 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 17px;
        left: 12px;
        width: 8px;
        height: 8px;
        border: solid 1px #ffffff;
        border-radius: 100%;
      }
    }
    &-text {
      margin-left: 12px;
      display: inline-block;
      vertical-align: middle;
      font-size: 13px;
      text-align: left;
      color: #ffffff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.61);
      width: 276px;
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: 991px) {
  .top {
    &-left {
      width: 420px;
      max-width: 100%;
      min-width: 0;
    }
    &-right {
      position: static;
      text-align: right;
      margin-top: 20px;
    }
    &3 {
      padding-top: 130px;
    }
  }
}
@media screen and (max-width: 767px) {
  .top {
    &1 {
      &:before {
        position: absolute 0;
        content: '';
        background-color: rgba(#fff, 0.2);
      }
    }
    &3 {
      .top {
        &-title {
          font-size: 30px;
        }
        &-left {
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .top {
    &-title {
      font-size: 50px;
    }
    &-right {
      text-align: left;
    }
    &-btn {
      font-size: 16px;
    }
  }
}
