<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <ul>
    <li><a href="mba1.html">mba1.html</a></li>
    <li><a href="mba2.html">mba2.html</a></li>
    <li><a href="mba3.html">mba3.html</a></li>
  </ul>
</body>
</html>
