<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/layout/head', {title: 'MINI MBA'}) %>
</head>
<body>
<div class="main">
  <section class="top top1">
    <div class="wrapper">
      <div class="top-left">
        <div class="top-title">MINI-MBA</div>
        <div class="top-subtitle">Ваш профессиональный успех и трансформация для вашей карьеры. Только самые важные знания и практики из программы MBA</div>
        <ul class="top-list">
          <li class="top-item">
            <span class="top-item-icon">
              <%- include('templates/icons/add', {icon: 'ti1'}) %>
            </span>
            Степень MBA и престижный диплом за 1 год
          </li>
          <li class="top-item">
            <span class="top-item-icon">
              <%- include('templates/icons/add', {icon: 'ti2'}) %>
            </span>
            Повышение квалификации и новые навыки
          </li>
          <li class="top-item">
            <span class="top-item-icon">
              <%- include('templates/icons/add', {icon: 'ti3'}) %>
            </span>
            Новые возможности для вашей карьеры
          </li>
        </ul>
        <button class="top-btn js-scroll" data-scroll=".form">Оставить заявку  на обучение</button>
      </div>
      <div class="top-right">
        <div class="top-right-price">
          <%- include('templates/icons/add', {icon: 'price'}) %>3000 $</div>
        <div class="top-right-text">Возможна оплата в рассрочку, при единовременной оплате — скидка 15% </div>
      </div>
    </div>
  </section>
  <section class="about about1">
    <div class="wrapper">
      <div class="title">О программе MINI-MBA </div>
      <div class="clearfix">
        <div class="about-text">
          <p>Для успешного развития вашей карьеры и компании необходимо адаптироваться к современным условиям бизнеса, новым требованиям и постоянно развиваться. </p>
          <p>MINI-MBA – это интенсивная программа, самые важные практики из программы MBA, которые позволяют интенсивно повысить квалификацию в сфере менеджмента. Вы улучшите понимание бизнеса, расширите свои навыки и компетенции в области управления и различных бизнес-процессов. </p>
          <div class="about-pane">
            <div class="about-pane-item">
              <div class="about-pane-icon">
                <%- include('templates/icons/add', {icon: 'ab1'}) %>
              </div>
              Duration: 10 months
            </div>
            <div class="about-pane-item">
              <div class="about-pane-icon">
                <%- include('templates/icons/add', {icon: 'ab2'}) %>
              </div>
              Language: English
            </div>
            <div class="about-pane-item">
              <div class="about-pane-icon">
                <%- include('templates/icons/add', {icon: 'ab3'}) %>
              </div>
              Format: Online
            </div>
          </div>
        </div>
      </div>
      <div class="about-desc about-desc-1">
        <%- include('templates/icons/add', {icon: 'desc'}) %>
        <div class="about-desc-content">
          <div class="about-desc-title">Ускоренный путь к освоению ключевых навыков менеджмента </div>
          <div class="about-desc-text">MINI-MBA — это наилучший выбор для тех, кто хочет быстро улучшить свои профессиональные и управленческие навыки, получить понимание различных бизнес-процессов и стать наиболее конкурентоспособным на рынке труда!</div>
          <button class="about-desc-btn js-scroll" data-scroll=".form">Оставить заявку на обучение</button>
        </div>
      </div>
    </div>
  </section>
  <div class="wrapper">
    <section class="modules">
      <%- include('templates/icons/add', {icon: 'mod-1'}) %>
      <%- include('templates/icons/add', {icon: 'mod-2'}) %>
      <div class="title">Учебные модули программы MINI–MBA</div>
      <div class="modules-item">
        <button class="modules-item-title active">
          Лидерство и личная эффективность
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div style="display: block;" class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Управление персоналом и бизнес-коммуникации
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Стратегическое и управленческое мышление
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Управление маркетингом и продажами
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Управление проектами
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Управление финансами
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <button class="modules-btn js-scroll" data-scroll=".form">Оставить заявку на обучение</button>
    </section>
  </div>
  <section class="advantages advantages-1">
    <div class="wrapper">
      <div class="title">5 преимуществ обучения в A1 Business School</div>
      <div class="advantages-content clearfix">
        <div class="advantages-item">
          <div class="advantages-item-title">Инновации и новаторство в образовании</div>
          <div class="advantages-item-text">Использование современных технологий в области онлайн обучения и инновационное обучение при помощи игровых сценариев и героев-проводников делают обучение комфортным, интересным и более эффективным. </div>
        </div>
        <div class="advantages-item">
          <div class="advantages-item-title">Обучение без отрыва от работы </div>
          <div class="advantages-item-text">Обучение проходит полностью онлайн. Вы сможете учиться в любое удобное для вас время, не отрываясь от своих дел. Вы сможете сразу применять полученные знания на практике и находить эффективные решения для ваших бизнес-задач.</div>
        </div>
        <div class="advantages-item">
          <div class="advantages-item-title">Концентрация лучших мировых знаний и практик </div>
          <div class="advantages-item-text">Обучение занимает минимальное количество времени, благодаря структурированной и емкой подаче лучших мировых практик . Вы получите множество инструкций по применению, сможете мгновенно внедрять в вашу бизнес-деятельность. </div>
        </div>
        <div class="advantages-item">
          <div class="advantages-item-title">Уникальное мировое бизнес-сообщество </div>
          <div class="advantages-item-text">Вы сможете общаться онлайн с мировыми экспертами и студентами со всего мира, которые учатся вместе с вами или уже закончили обучение.  Находите новых единомышленников, партнеров, клиентов в деловой социальной сети A1 Business School. </div>
        </div>
        <div class="advantages-item">
          <div class="advantages-item-title">Акцент на применение на практике </div>
          <div class="advantages-item-text">По каждому модулю программы вы будете выполнять практические задания, для того, чтобы научиться применять знания на практике. В ходе обучения используется разбор классических бизнес-кейсов, деловые игры, бизнес-симуляции и конечно же проработка ваших текущих задач прямо в ходе занятий.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="new">
    <div class="wrapper">
      <div class="title">Инновации в онлайн образовании</div>
      <div class="new-text">Современный мир находиться в безумном темпе. Мы предоставляем современные технологии в онлайн образовании, что бы профессионалы со всего мира могли удобно обучаться в любом месте и в любое время</div>
      <div class="new-content">
        <div class="new-item">
          <div class="new-item-img">
            <%- include('templates/icons/add', {icon: 'new1'}) %>
          </div>
          <div class="new-item-desc">
            <div class="new-item-title">Mobile frendly </div>
            <div class="new-item-text">Мы разработали  мобильные приложения, чтобы студенты могли учиться даже в динамичной среде, в любых обстоятельствах и в удобное для них время. </div>
          </div>
        </div>
        <div class="new-item">
          <div class="new-item-desc">
            <div class="new-item-title">Персональный график занятий</div>
            <div class="new-item-text">Каждый студент самостоятельно настраивает свой график занятий, в зависимости от своих возможностей. Система помогает контролировать успеваемость и подстраивается под каждого студента. </div>
          </div>
          <div class="new-item-img">
            <%- include('templates/icons/add', {icon: 'new2'}) %>
          </div>
        </div>
        <div class="new-item">
          <div class="new-item-img">
            <%- include('templates/icons/add', {icon: 'new3'}) %>
          </div>
          <div class="new-item-desc">
            <div class="new-item-title">Мультимедийные материалы  </div>
            <div class="new-item-text">Интерактивные видео, бизнес-симуляции, игровые кейсы позволяют лучше усваивать материал и воспроизводить практические ситуации, что повышает эффективность обучения и мотивацию студентов. </div>
          </div>
        </div>
      </div>
      <div class="new-btn-wrapper">
        <button class="new-btn js-scroll" data-scroll=".form">Оставить заявку  на обучение</button>
      </div>
      <div class="new-pane new-pane-1">
        <%- include('templates/icons/add', {icon: 'new-pane'}) %>
        <div class="new-pane-content">
          <div class="new-pane-title">Ваш результат после обучения на MINI-MBA</div>
          <div class="clearfix">
            <ul class="new-pane-list">
              <li class="new-pane-item">Повысите свою личную эффективность и будете успевать в два раза больше</li>
              <li class="new-pane-item">Научитесь добиваться поставленных целей в адекватные сроки, без лишних финансовых издержек</li>
              <li class="new-pane-item">Сможете эффективно руководить подразделениями или компанией, существенно увеличите ваши конкурентные преимущества</li>
              <li class="new-pane-item">Приобретете системный взгляд на управление бизнес-проектами и бизнес-процессами</li>
              <li class="new-pane-item">На глубоком уровне поймете работу смежных отделов</li>
            </ul>
            <ul class="new-pane-list">
              <li class="new-pane-item">Разовьете навыки стратегического видения бизнеса</li>
              <li class="new-pane-item">Сможете обмениваться опытом и знаниями с другими студентами программы МВА, преподавателями и экспертами-практиками, найдете новые деловые связи </li>
              <li class="new-pane-item">Сможете в ходе обучения усовершенствовать процессы в своей организации или подразделении</li>
              <li class="new-pane-item">Найдете работу мечты или даже откроете свой бизнес</li>
            </ul>
          </div>
          <div class="new-pane-subtitle">Диплом о завершении обучения на программе</div>
          <div class="new-pane-text">Осторожно, рыба! По завершению обучения вы получите диплом со степенью MBA. Мы подтвердим ваши компетенции официальным сертификатом бизнес-школы</div>
          <div class="new-pane-btn-wrapper">
            <button class="new-pane-btn js-scroll" data-scroll=".form">Оставить заявку  на обучение</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="form">
    <%- include('templates/icons/add', {icon: 'form'}) %>
    <div class="wrapper">
      <div class="title">Поступить на программу</div>
      <div class="form-subtitle">Мы ждем всех, кто намерен трансформировать свою карьеру и готов кратно увеличить свои конкурентные преимущества!  </div>
      <div class="form-price">
        Стоимость курса
        <span>990 $ <%- include('templates/icons/add', {icon: 'price'}) %></span>
      </div>
      <div class="form-stock">Возможна оплата в рассрочку. При единовременной оплате — скидка 15% </div>
      <form action="#" class="form-content" novalidate>
        <div class="form-content-row">
          <div class="form-content-name">First name</div>
          <div class="form-content-field">
            <input type="text" name="first" class="form-content-input" placeholder="Enter your name" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Last Name</div>
          <div class="form-content-field">
            <input type="text" name="last" class="form-content-input" placeholder="Your last name" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">E-mail</div>
          <div class="form-content-field">
            <input type="email" name="email" class="form-content-input" placeholder="Enter E-mail" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Phone</div>
          <div class="form-content-field">
            <input type="tel" name="phone" class="form-content-input" placeholder="Phone number" required data-mask="+7 (999) 999-99-99">
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Country</div>
          <div class="form-content-field">
            <input type="text" name="country" class="form-content-input" placeholder="Whereare you from?" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Job title</div>
          <div class="form-content-field">
            <input type="text" name="job" class="form-content-input" placeholder="Your job title" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name"></div>
          <div class="form-content-field">
            <input type="submit" value="Оставить заявку" class="form-content-submit">
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<%- include('templates/layout/scripts') %>
</body>
</html>
