<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/layout/head', {title: 'Time Management'}) %>
</head>
<body>
<div class="main">
  <section class="top top3">
    <div class="wrapper">
      <div class="top-left">
        <div class="top-title">Time Management</div>
        <div class="top-subtitle">Первый online курс в интерактивном формате  по международной методике с гарантией результата</div>
        <button class="top-btn js-scroll" data-scroll=".form">Оставить заявку</button>
      </div>
      <div class="top-right">
        <div class="top-right-price">
          <%- include('templates/icons/add', {icon: 'price'}) %>39 $</div>
        <div class="top-right-text"><span>89 $</span><strong>1—2 недели</strong></div>
      </div>
    </div>
  </section>
  <section class="kurs">
    <div class="wrapper">
      <div class="clearfix">
        <div class="kurs-desc">
          <div class="title">О курсе</div>
          <div class="kurs-text">
            <p>Курс «Тайм-менеджмент» дает возможность сделать каждый день наполненным и содержательным, быстро достичь краткосрочных и долговременных целей, жить яркой жизнью. Получать значительную прибыль, прикладывая небольшое усилие. </p>
            <p>Курс позволит выявить неблагоприятные привычки и преобразовать их в позитивные, достичь существенных результатов в желаемом направлении, навести порядок в своих делах и разобраться в самом себе.</p>
          </div>
        </div>
        <div class="kurs-img">
          <%- include('templates/icons/add', {icon: 'kurs'}) %>
        </div>
      </div>
    </div>
  </section>
  <section class="diff">
    <div class="wrapper">
      <div class="title">В чем отличие нового курса «Тайм-менеджмент»</div>
      <div class="diff-content">
        <div class="diff-item">
          <div class="diff-item-img">
            <%- include('templates/icons/add', {icon: 'diff1'}) %>
          </div>
          <div class="diff-item-text">
            <p>Первый on-line курс в формате «Развлекайся с Пользой» — это использование игровых сценариев, которые позволяют понять, полюбить и научиться применять инструменты Тайм Менеджмента. </p>
            <p>Понятные и увлекательные игровые кейсы с героями-проводниками. Теперь учиться не только полезно, но и интересно.</p>
          </div>
        </div>
        <div class="diff-item">
          <div class="diff-item-text">
            <p>Прохождение курса займет у вас минимальное количество времени, благодаря структурированной и емкой подаче. Вы сможете пройти и получить массу инструкций по применению, мгновенно внедряя в деловую и личную жизнь, получив максимальную отдачу в этот же день.</p>
          </div>
          <div class="diff-item-img">
            <%- include('templates/icons/add', {icon: 'diff2'}) %>
          </div>
        </div>
      </div>
      <div class="diff-btn-wrapper">
        <button class="diff-btn js-scroll" data-scroll=".form">Оставить заявку</button>
      </div>
    </div>
  </section>
  <div class="wrapper">
    <section class="modules">
      <%- include('templates/icons/add', {icon: 'mod-1'}) %>
      <%- include('templates/icons/add', {icon: 'mod-2'}) %>
      <div class="title">Программа курса</div>
      <div class="modules-item">
        <button class="modules-item-title active">
          Ваши компетенции по системе SHL
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div style="display: block;" class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Аудит вашего времени
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Приоритизация задач
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Делегирование
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <div class="modules-item">
        <button class="modules-item-title">
          Выполнение задач
          <%- include('templates/icons/add', {icon: 'mod-arr'}) %>
        </button>
        <div class="modules-item-content">
          <div class="modules-item-content-title">4 часа теории, 3 часа практики</div>
          <div class="modules-item-content-text">Осторожно, рыба! Многие люди попадают в ловушку: не осознавая, что именно им нужно от жизни, не понимая, какую возможность использовать, а какую – нет, они следуют краткосрочным порывам. Инструменты Колесо Жизненного Баланса и Квадраты </div>
        </div>
      </div>
      <button class="modules-btn js-scroll" data-scroll=".form">Оставить заявку</button>
    </section>
  </div>
  <section class="give">
    <div class="wrapper">
      <div class="title">Что вы получите в результате прохождения курса</div>
      <div class="clearfix">
        <ul class="give-list">
          <li class="give-item">Дополнительные 2 − 3,5 часа резервов времени в день</li>
          <li class="give-item">Личные инструменты самоорганизации, которые будут всегда у вас перед глазами</li>
          <li class="give-item">Ясность и определенность целей и приоритетов</li>
          <li class="give-item">Более высокую мотивацию, умение бороться с неприятными делами и поглотителями времени, грамотно организовывать отдых</li>
        </ul>
        <ul class="give-list">
          <li class="give-item">Вы начнете эффективно распределять рабочую нагрузку, избежите синдрома выгорания и научитесь отдыхать</li>
          <li class="give-item">Возможность установления баланса между работой и личной жизнью — находить время на все, что хочется!</li>
        </ul>
      </div>
    </div>
  </section>
  <div class="wrapper">
    <section class="give-pane">
      <div class="give-pane-content">Взяв своё время под контроль, вы найдёте жизненный баланс и за один месяц осознанных временных инвестиций достигнете больше, чем за год — неосознанных.</div>
    </section>
  </div>
  <section class="cert">
    <%- include('templates/icons/add', {icon: 'cert'}) %>
    <div class="wrapper">
      <div class="cert-img">
        <img src="img/data/cert.png" alt="">
      </div>
      <div class="cert-content">
        <div class="cert-title">Сертификат по завершению обучения</div>
        <div class="cert-text">Мы подтвердим ваши компетенции официальным сертификатом бизнес-школы</div>
      </div>
    </div>
  </section>
  <section class="how">
    <div class="wrapper">
      <div class="title">Как проходит обучение</div>
      <div class="how-content">
        <div class="how-item">
          <div class="how-desc">
            <div class="how-desc-title">Дистанционный формат</div>
            <div class="how-desc-text">Онлайн-обучение на диване или в любом офисном кресле. Да хоть на пляже в шезлонге, лишь бы был интернет.</div>
          </div>
          <div class="how-img">
            <img src="img/data/how1.jpg" alt="">
          </div>
        </div>
        <div class="how-item">
          <div class="how-img">
            <img src="img/data/how2.jpg" alt="">
          </div>
          <div class="how-desc">
            <div class="how-desc-title">Дистанционный формат</div>
            <div class="how-desc-text">Онлайн-обучение на диване или в любом офисном кресле. Да хоть на пляже в шезлонге, лишь бы был интернет.</div>
          </div>
        </div>
        <div class="how-item">
          <div class="how-desc">
            <div class="how-desc-title">Теория в сжатом формате</div>
            <div class="how-desc-text">Мы предлагаем вам мировой опыт и лучшие практики, которые скомпонованы для вас в инфографику и представлены
            в простом для восприятия видео-формате.</div>
          </div>
          <div class="how-img">
            <img src="img/data/how3.jpg" alt="">
          </div>
        </div>
        <div class="how-item">
          <div class="how-img">
            <img src="img/data/how4.jpg" alt="">
          </div>
          <div class="how-desc">
            <div class="how-desc-title">Инструменты</div>
            <div class="how-desc-text">В процессе обучения вы освоите инструменты и методики, которые позволят вам привести в порядок ваши дела
            и быстрее освоить искусство управления временем. </div>
          </div>
        </div>
      </div>
      <div class="how-btn-wrapper">
        <button class="how-btn js-scroll" data-scroll=".form">Оставить заявку</button>
      </div>
    </div>
  </section>
  <section class="form">
    <%- include('templates/icons/add', {icon: 'form'}) %>
    <div class="wrapper">
      <div class="title">Воспользуйтесь возможностью поступить на курс<br> по невероятной цене!</div>
      <div class="form-price">
        <span>39 $ <%- include('templates/icons/add', {icon: 'price'}) %></span>
        Вместо 89 $
      </div>
      <form action="#" class="form-content" novalidate>
        <div class="form-content-row">
          <div class="form-content-name">First name</div>
          <div class="form-content-field">
            <input type="text" name="first" class="form-content-input" placeholder="Enter your name" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Last Name</div>
          <div class="form-content-field">
            <input type="text" name="last" class="form-content-input" placeholder="Your last name" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">E-mail</div>
          <div class="form-content-field">
            <input type="email" name="email" class="form-content-input" placeholder="Enter E-mail" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Phone</div>
          <div class="form-content-field">
            <input type="tel" name="phone" class="form-content-input" placeholder="Phone number" required data-mask="+7 (999) 999-99-99">
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Country</div>
          <div class="form-content-field">
            <input type="text" name="country" class="form-content-input" placeholder="Whereare you from?" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name">Job title</div>
          <div class="form-content-field">
            <input type="text" name="job" class="form-content-input" placeholder="Your job title" required>
          </div>
        </div>
        <div class="form-content-row">
          <div class="form-content-name"></div>
          <div class="form-content-field">
            <input type="submit" value="Оставить заявку" class="form-content-submit">
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<%- include('templates/layout/scripts') %>
</body>
</html>
