@import 'abstracts/variables';
@import 'utils/mixins';
@import 'utils/functions';
@import 'base/reset';

// @import 'base/svg-sprite';

.main {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.56;
  min-width: 320px;
  overflow: hidden;
  // max-width: 1280px;
}

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.title {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.7;
  text-align: center;
  color: #000000;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 28px;
    line-height: 1.4;
  }
}

@import 'components/icons';

@import 'layout/top';
@import 'layout/about';
@import 'layout/kurs';
@import 'layout/diff';
@import 'layout/give';
@import 'layout/how';
@import 'layout/modules';
@import 'layout/advantages';
@import 'layout/new';
@import 'layout/form';
