@mixin v-ghost($height) {
  display: block;
  height: $height;
  text-align: center;
  font-size: 0;
  .v-ghost {
    display: inline-block;
    vertical-align: middle;
  }
  &::before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
  }
}
